.DayPlan {
  .OneHour {
    padding: 20px 10px;
    margin: 15px 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);

    .Hours,
    .Kids,
    .Horses {
      input {
        margin-bottom: 10px;
      }
    }
    .Hours {
      margin-bottom: 30px;
    }
  }

  .KidAndButtonContainer {
    position: relative;

    .DeleteButton {
      position: absolute;
      z-index: 100;
      right: 0px;
      top: 0px;
      outline: none;
    }
  }

  .LabelSection {
    .Label {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
      transition: 0.2s;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        transition: all 0.55s ease-out;
        bottom: -1px;
        width: 0px;
        height: 2px;
        margin: 5px 0 0;
        opacity: 0;
        left: -10%;
        background-color: orangered;
      }
    }
    &:focus-within {
      .Label {
        font-weight: bold;
        &:after {
          width: 120%;
          opacity: 1;
        }
      }
    }
  }

  .ButtonSection {
    margin-top: 10px;
    transition: 1s;
    display: flex;
    justify-content: center;
    > button {
      margin: 0 4px;
    }
  }
}
