.Account {

  .AccountCard{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  }

  .AccountTitleRow{
    margin-bottom:15px;
    margin-top: 15px;
  }

  .Title{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
  }

  .ButtonSection {
    margin-top: 10px;
    margin-bottom:15px;
    transition: 1s;
    display: flex;
    justify-content: center;
    > button {
      margin: 0 4px;
    }
  }
}