.About{
  text-align: left;

  .Logo{
    width: 208px;
    height: 131px;
  }

  .H3Msg{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
  }

  .Card{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
  }
}