@import "../../bootstrap_stylesheets/custom.scss";

.Diary {
  .OneHour {
    padding: 20px 10px;
    margin: 15px 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

    .Hours,
    .Kids,
    .Horses {
      input {
        margin-bottom: 10px;
      }
    }
    .Hours {
      margin-bottom: 30px;
    }
  }

  .LabelSection {
    .Label {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
      transition: 0.2s;
      position: relative;
    }
  }

  input:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
  }
}

//==============================================================
.DiaryList {
  .Calendar {
    display: flex;
    justify-content: center;
  }
  // Calendar
  .CalendarDay {
    position: relative;
    height: 40px;
    abbr {
      display: none;
    }
    &.PlannedDay {
      background-color: orange;
      &:hover {
        .DayElement {
          background-color: orangered;
        }
      }
    }

    .DayElement {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        // background-color: ;
      }
    }
  }
}
