.SignIn{
  background-color: #f7faff;

  .Logo{
    width: 150px;
    height: 200px;
    margin: 10px;
    margin-bottom: 30px;
  }

  .WelcomeMsg{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 18px;
  }

  .LoginCard{
    /*width: ;*/
    margin: 20px;
    padding: 20px;

    .LoginForm{
      .LoginFormRowLabel{
        font-size: 14px;
        font-weight: bold;
        padding-top: 10px;
      }

      .LoginFormRowButton{
        margin-top: 30px;

        .LoginFormButton{
          width: 100%;
        }
      }
    }
  }

  .TextButtons{
    font-size: 13px;
    color: darkblue;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
  }
}